body {
  text-align: center;
  font-family: 'Arial 1234567';
  font-size: 25px;
  color: #dabc13;
}
.container {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #d0d0d0;
}
.cabezera {
  margin: 0;
  padding: 0.5px;
  text-align: left;
  background-color: #4ec052;
}
.cabezera p {
  color: #fff;
  font-size: 50px;
}
